# Core
streamlit==1.35.0
pandas==2.3.1
numpy>=1.26.4

# Estatística e Modelagem
scipy==1.11.4
statsmodels==0.14.1
scikit-learn>=1.5.0
factor_analyzer==0.5.1

# Visualização
matplotlib==3.10.5 
seaborn>=0.13.2

# Exportação de resultados
reportlab>=4.2.0
openpyxl>=3.1.2

# Utilitários
pyyaml>=6.0.1

# Machine Learning
boruta

# For working locally
#.\.venv\Scripts\activate
